{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to my blog</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti dolores explicabo eaque excepturi eos
                totam laborum, accusamus, delectus maiores nemo odit at aperiam nesciunt error minus doloribus enim aut
                hic!
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ad laboriosam cum minima voluptates
                nostrum saepe doloremque eveniet placeat quisquam amet quibusdam nihil obcaecati praesentium sunt
                voluptas veniam tempora aliquid.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">View Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}